automation/n8n-workflows/workflows/MEGA_WORKFLOW_1_LEAD_LIFECYCLE/01-orchestrator/artifacts/workflow_v1.json
{
  "name": "WORKFLOW A: Lead Lifecycle Manager (Orquestador)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-events",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook Principal Lead Events",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        300
      ],
      "id": "webhook_main",
      "webhookId": "carrillo-lead-lifecycle",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.first().json;\nlet eventType = payload.event_type || 'unknown';\nlet targetWorkflowId = null;\n\nif (eventType === 'new_lead' || (payload.email && !payload.lead_id)) {\n  eventType = 'new_lead';\n  targetWorkflowId = 'RHj1TAqBazxNFriJ';\n} else if (eventType === 'email_opened') {\n  eventType = 'email_opened';\n}\n\nreturn {\n  json: {\n    ...payload,\n    event_type: eventType,\n    target_workflow_id: targetWorkflowId,\n    orchestrator_timestamp: new Date().toISOString(),\n    orchestrator_execution_id: $execution.id\n  }\n};"
      },
      "name": "Identify",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ],
      "id": "identify_event"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "RHj1TAqBazxNFriJ",
          "mode": "list",
          "cachedResultUrl": "/workflow/RHj1TAqBazxNFriJ",
          "cachedResultName": "SUB-A: Lead Intake (v5 - AI POWERED - NATIVE)"
        },
        "mode": "once",
        "options": {
          "waitForSubWorkflow": true
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "nombre": "={{ $json.nombre }}",
            "email": "={{ $json.email }}",
            "telefono": "={{ $json.telefono }}",
            "empresa": "={{ $json.empresa }}",
            "cargo": "={{ $json.cargo }}",
            "servicio_interes": "={{ $json.servicio_interes }}",
            "mensaje": "={{ $json.mensaje }}",
            "utm_source": "={{ $json.utm_source }}",
            "utm_campaign": "={{ $json.utm_campaign }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "source": "database"
      },
      "name": "SubA",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        900,
        180
      ],
      "id": "sub_a"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "value": "={{ $json.success !== false }}",
              "type": "boolean"
            },
            {
              "id": "event_type",
              "name": "event_type",
              "value": "={{ $('Identify').item.json.event_type }}",
              "type": "string"
            },
            {
              "id": "sub_workflow_executed",
              "name": "sub_workflow_executed",
              "value": "={{ $('Identify').item.json.target_workflow_id }}",
              "type": "string"
            },
            {
              "id": "result",
              "name": "result",
              "value": "={{ $json }}",
              "type": "object"
            },
            {
              "id": "orchestrator_execution_time_ms",
              "name": "orchestrator_execution_time_ms",
              "value": "={{ $now.diff($('Identify').item.json.orchestrator_timestamp).toObject().milliseconds }}",
              "type": "number"
            }
          ]
        }
      },
      "name": "Consolidate",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        300
      ],
      "id": "consolidate"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: $json.success, result: $json.result } }}",
        "options": {
          "responseCode": "={{ $json.success ? 200 : 500 }}"
        }
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1340,
        300
      ],
      "id": "respond"
    }
  ],
  "connections": {
    "Webhook Principal Lead Events": {
      "main": [
        [
          {
            "node": "Identify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identify": {
      "main": [
        [
          {
            "node": "SubA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SubA": {
      "main": [
        [
          {
            "node": "Consolidate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidate": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}
