automation/n8n-workflows/workflows/MEGA_WORKFLOW_1_LEAD_LIFECYCLE/02-spokes/sub-a-lead-intake/artifacts/SUB-A_ Lead Intake & Enrichment (v2 - Hub & Spoke).json
{
  "name": "SUB-A: Lead Intake & Enrichment (v2 - Hub & Spoke)",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "nombre"
            },
            {
              "name": "email"
            },
            {
              "name": "telefono"
            },
            {
              "name": "empresa"
            },
            {
              "name": "cargo"
            },
            {
              "name": "servicio_interes"
            },
            {
              "name": "mensaje"
            },
            {
              "name": "utm_source"
            },
            {
              "name": "utm_campaign"
            }
          ]
        }
      },
      "id": "trigger_sub_a",
      "name": "Execute Workflow Trigger SUB-A",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        304
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "nombre",
              "name": "nombre",
              "type": "string",
              "value": "={{ $json.nombre }}"
            },
            {
              "id": "email",
              "name": "email",
              "type": "string",
              "value": "={{ $json.email }}"
            },
            {
              "id": "telefono",
              "name": "telefono",
              "type": "string",
              "value": "={{ $json.telefono }}"
            },
            {
              "id": "empresa",
              "name": "empresa",
              "type": "string",
              "value": "={{ $json.empresa }}"
            },
            {
              "id": "cargo",
              "name": "cargo",
              "type": "string",
              "value": "={{ $json.cargo }}"
            },
            {
              "id": "servicio_interes",
              "name": "servicio_interes",
              "type": "string",
              "value": "={{ $json.servicio_interes }}"
            },
            {
              "id": "mensaje",
              "name": "mensaje",
              "type": "string",
              "value": "={{ $json.mensaje }}"
            },
            {
              "id": "utm_source",
              "name": "utm_source",
              "type": "string",
              "value": "={{ $json.utm_source }}"
            },
            {
              "id": "utm_campaign",
              "name": "utm_campaign",
              "type": "string",
              "value": "={{ $json.utm_campaign }}"
            }
          ]
        },
        "options": {}
      },
      "id": "map_input",
      "name": "0. Mapear Input del Orquestador",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        304
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "type": "boolean",
              "value": "true"
            },
            {
              "id": "lead_id",
              "name": "lead_id",
              "type": "string",
              "value": "={{ $json.lead_id }}"
            },
            {
              "id": "score",
              "name": "score",
              "type": "number",
              "value": "={{ $json.score }}"
            },
            {
              "id": "categoria",
              "name": "categoria",
              "type": "string",
              "value": "={{ $json.categoria }}"
            },
            {
              "id": "message",
              "name": "message",
              "type": "string",
              "value": "Lead procesado exitosamente por SUB-A"
            }
          ]
        },
        "options": {}
      },
      "id": "final_result",
      "name": "FINAL. Resultado del Sub-Workflow",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const lead = $input.first().json;\nconst email = (lead.email || '').toLowerCase().trim();\n\n// 1. Validación de Email\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nif (!emailRegex.test(email)) {\n  throw new Error(`Email inválido: ${email}`);\n}\n\n// 2. Clasificación\nlet score = 30; \nlet category = 'COLD';\nconst interest = (lead.servicio_interes || '').toLowerCase();\nconst message = (lead.mensaje || '').toLowerCase();\n\nif (interest.includes('marca') || interest.includes('litigio')) score += 20;\nif (message.length > 50) score += 10;\nif (lead.telefono) score += 10;\nif (lead.empresa) score += 10;\n\nif (score >= 70) category = 'HOT';\nelse if (score >= 40) category = 'WARM';\n\nreturn {\n  json: {\n    ...lead,\n    email_normalized: email,\n    score,\n    category,\n    lead_id: new Date().toISOString() + '-' + email.replace(/@/g, '-at-'),\n    processed_at: new Date().toISOString()\n  }\n};"
      },
      "id": "validate_classify",
      "name": "1. Validar y Clasificar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        304
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "create",
        "projectId": "carrillo-marketing-core",
        "database": "leads",
        "collection": "leads",
        "columns": "lead_id, nombre, email, empresa, score, category, processed_at"
      },
      "id": "firestore_save",
      "name": "2. Guardar en Firestore",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        912,
        304
      ],
      "credentials": {
        "googleApi": {
          "id": "AAhdRNGzvsFnYN9O",
          "name": "tuto yt"
        }
      },
      "notes": "⚠️ REQUIRES CREDENTIALS"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "marketing@carrilloabgd.com",
        "subject": "={{ '🔥 HOT LEAD: ' + $json.nombre }}",
        "emailType": "text",
        "message": "={{ '🔥 NUEVO LEAD HOT: ' + $json.nombre + '\\nEmpresa: ' + $json.empresa + '\\nScore: ' + $json.score + '\\nInterés: ' + $json.servicio_interes }}",
        "options": {}
      },
      "id": "notify_team",
      "name": "4. Notificar Equipo (HOT)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1344,
        160
      ],
      "webhookId": "8880eaab-1f58-4183-9ae5-aa9f764a8cfb",
      "credentials": {
        "gmailOAuth2": {
          "id": "l2mMgEf8YUV7HHlK",
          "name": "Gmail account"
        }
      },
      "notes": "⚠️ REQUIRES CREDENTIALS"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $json.email }}",
        "subject": "Confirmación de Consulta - Carrillo Abogados",
        "emailType": "text",
        "message": "={{ $json.text }}",
        "options": {}
      },
      "id": "send_response",
      "name": "6. Enviar Respuesta Lead",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1920,
        304
      ],
      "webhookId": "36bb97e9-e30a-4820-a15c-21e0647b572c",
      "credentials": {
        "gmailOAuth2": {
          "id": "l2mMgEf8YUV7HHlK",
          "name": "Gmail account"
        }
      },
      "notes": "⚠️ REQUIRES CREDENTIALS"
    },
    {
      "parameters": {
        "modelId": {
          "mode": "list",
          "value": "gemini-pro"
        },
        "messages": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "id": "generate_email_gemini",
      "name": "5. Generar Respuesta (Gemini)",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1568,
        304
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "jk2FHcbAC71LuRl2",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "condition1",
              "leftValue": "={{ $json.category }}",
              "rightValue": "HOT",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          }
        },
        "options": {}
      },
      "id": "check_hot_if",
      "name": "3. Es Lead HOT? (If)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1120,
        304
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger SUB-A": {
      "main": [
        [
          {
            "node": "0. Mapear Input del Orquestador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "0. Mapear Input del Orquestador": {
      "main": [
        [
          {
            "node": "1. Validar y Clasificar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Validar y Clasificar": {
      "main": [
        [
          {
            "node": "2. Guardar en Firestore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6. Enviar Respuesta Lead": {
      "main": [
        [
          {
            "node": "FINAL. Resultado del Sub-Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Notificar Equipo (HOT)": {
      "main": [
        [
          {
            "node": "5. Generar Respuesta (Gemini)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. Generar Respuesta (Gemini)": {
      "main": [
        [
          {
            "node": "6. Enviar Respuesta Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Guardar en Firestore": {
      "main": [
        [
          {
            "node": "3. Es Lead HOT? (If)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Es Lead HOT? (If)": {
      "main": [
        [
          {
            "node": "4. Notificar Equipo (HOT)",
            "type": "main",
            "index": 0
          },
          {
            "node": "5. Generar Respuesta (Gemini)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "e1aa2acd-ecfb-4231-af8c-5ab74e73f92a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3d3321fa006456b860ee93414ff8ce34a43571ec656f012cc11bbaa4bceafb5c"
  },
  "id": "RHj1TAqBazxNFriJ",
  "tags": []
}
