automation/n8n-workflows/workflows/MEGA_WORKFLOW_1_LEAD_LIFECYCLE/02-spokes/sub-a-lead-intake/artifacts/SUB-A-GEM.json
{
  "name": "SUB-A: Lead Intake & Enrichment (v4 - FIXED)",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "nombre"
            },
            {
              "name": "email"
            },
            {
              "name": "telefono"
            },
            {
              "name": "empresa"
            },
            {
              "name": "cargo"
            },
            {
              "name": "servicio_interes"
            },
            {
              "name": "mensaje"
            },
            {
              "name": "utm_source"
            },
            {
              "name": "utm_campaign"
            }
          ]
        }
      },
      "id": "e0078b5a-4e6f-40e9-9231-1c5c0c9f1a23",
      "name": "Execute Workflow Trigger SUB-A",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "nombre",
              "name": "nombre",
              "type": "string",
              "value": "={{ $json.nombre }}"
            },
            {
              "id": "email",
              "name": "email",
              "type": "string",
              "value": "={{ $json.email }}"
            },
            {
              "id": "telefono",
              "name": "telefono",
              "type": "string",
              "value": "={{ $json.telefono }}"
            },
            {
              "id": "empresa",
              "name": "empresa",
              "type": "string",
              "value": "={{ $json.empresa }}"
            },
            {
              "id": "cargo",
              "name": "cargo",
              "type": "string",
              "value": "={{ $json.cargo }}"
            },
            {
              "id": "servicio_interes",
              "name": "servicio_interes",
              "type": "string",
              "value": "={{ $json.servicio_interes }}"
            },
            {
              "id": "mensaje",
              "name": "mensaje",
              "type": "string",
              "value": "={{ $json.mensaje }}"
            },
            {
              "id": "utm_source",
              "name": "utm_source",
              "type": "string",
              "value": "={{ $json.utm_source }}"
            },
            {
              "id": "utm_campaign",
              "name": "utm_campaign",
              "type": "string",
              "value": "={{ $json.utm_campaign }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5a2d6c1b-4191-4c28-bb82-629f6b9c9f4d",
      "name": "0. Mapear Input del Orquestador",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const lead = $input.first().json;\nconst email = (lead.email || '').toLowerCase().trim();\n\n// 1. Validación de Email\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nif (!emailRegex.test(email)) {\n  throw new Error(`Email inválido: ${email}`);\n}\n\n// 2. Clasificación\nlet score = 30; \nlet categoria = 'COLD';\nconst interest = (lead.servicio_interes || '').toLowerCase();\nconst message = (lead.mensaje || '').toLowerCase();\n\nif (interest.includes('marca') || interest.includes('litigio')) score += 20;\nif (message.length > 50) score += 10;\nif (lead.telefono) score += 10;\nif (lead.empresa) score += 10;\n\nif (score >= 70) categoria = 'HOT';\nelse if (score >= 40) categoria = 'WARM';\n\nreturn {\n  json: {\n    ...lead,\n    email_normalized: email,\n    score,\n    categoria,\n    lead_id: new Date().toISOString() + '-' + email.replace(/@/g, '-at-'),\n    processed_at: new Date().toISOString()\n  }\n};"
      },
      "id": "1d8f5c3a-2b1e-4a6d-9e7f-8c3b4d5e6f7a",
      "name": "1. Validar y Clasificar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "create",
        "projectId": "carrillo-marketing-core",
        "database": "leads",
        "collection": "leads",
        "columns": "lead_id, nombre, email, empresa, score, categoria, processed_at"
      },
      "id": "2e9f6a4b-3c2d-5b7e-8f9a-0d1c2b3e4f5a",
      "name": "2. Guardar en Firestore",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        900,
        300
      ],
      "credentials": {
        "googleApi": {
          "id": "AAhdRNGzvsFnYN9O",
          "name": "tuto yt"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "condition1",
              "leftValue": "={{ $json.categoria }}",
              "rightValue": "HOT",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          }
        },
        "options": {}
      },
      "id": "3f0a7b5c-4d3e-6c8f-9a0b-1e2d3c4f5a6b",
      "name": "3. Es Lead HOT? (If)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "={{ '🔥 HOT LEAD: ' + $json.nombre }}",
        "message": "={{ '🔥 NUEVO LEAD HOT\\n\\nNombre: ' + $json.nombre + '\\nEmail: ' + $json.email + '\\nEmpresa: ' + $json.empresa + '\\nScore: ' + $json.score + '\\nInterés: ' + $json.servicio_interes + '\\nMensaje: ' + $json.mensaje }}",
        "toList": [
          {
            "value": "marketing@carrilloabgd.com"
          }
        ]
      },
      "id": "4a1b8c6d-5e4f-7a9b-0c1d-2e3f4a5b6c7d",
      "name": "4. Notificar Equipo (HOT)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1380,
        140
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "l2mMgEf8YUV7HHlK",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "prompt": "={{ \"Genera un email de respuesta personalizado para este lead:\\n\\nNombre: \" + $json.nombre + \"\\nEmpresa: \" + $json.empresa + \"\\nInterés: \" + $json.servicio_interes + \"\\nMensaje: \" + $json.mensaje + \"\\n\\nEl email debe:\\n1. Agradecer el contacto\\n2. Confirmar que hemos recibido su consulta\\n3. Mencionar que el Dr. Omar Carrillo se pondrá en contacto pronto\\n4. Ser profesional pero cálido\\n5. Firma: Equipo Carrillo Abogados\\n\\nResponde SOLO con el texto del email, sin subject.\" }}",
        "options": {}
      },
      "id": "5b2c9d7e-6f5a-8b0c-1d2e-3f4a5b6c7d8e",
      "name": "5. Generar Respuesta (Gemini)",
      "type": "n8n-nodes-base.googleGemini",
      "typeVersion": 1,
      "position": [
        1600,
        300
      ],
      "credentials": {
        "googleGeminiApi": {
          "id": "jk2FHcbAC71LuRl2",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "Confirmación de Consulta - Carrillo Abogados",
        "message": "={{ $json.data }}",
        "toList": [
          {
            "value": "={{ $json.email }}"
          }
        ]
      },
      "id": "6c3d0e8f-7a6b-9c1d-2e3f-4a5b6c7d8e9f",
      "name": "6. Enviar Respuesta Lead",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1820,
        300
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "l2mMgEf8YUV7HHlK",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "type": "boolean",
              "value": "true"
            },
            {
              "id": "lead_id",
              "name": "lead_id",
              "type": "string",
              "value": "={{ $('1. Validar y Clasificar').item.json.lead_id }}"
            },
            {
              "id": "score",
              "name": "score",
              "type": "number",
              "value": "={{ $('1. Validar y Clasificar').item.json.score }}"
            },
            {
              "id": "categoria",
              "name": "categoria",
              "type": "string",
              "value": "={{ $('1. Validar y Clasificar').item.json.categoria }}"
            },
            {
              "id": "message",
              "name": "message",
              "type": "string",
              "value": "Lead procesado exitosamente por SUB-A"
            }
          ]
        },
        "options": {}
      },
      "id": "7d4e1f9a-8b7c-0d2e-3f4a-5b6c7d8e9f0a",
      "name": "FINAL. Resultado del Sub-Workflow",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2040,
        300
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger SUB-A": {
      "main": [
        [
          {
            "node": "0. Mapear Input del Orquestador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "0. Mapear Input del Orquestador": {
      "main": [
        [
          {
            "node": "1. Validar y Clasificar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Validar y Clasificar": {
      "main": [
        [
          {
            "node": "2. Guardar en Firestore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Guardar en Firestore": {
      "main": [
        [
          {
            "node": "3. Es Lead HOT? (If)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Es Lead HOT? (If)": {
      "main": [
        [
          {
            "node": "4. Notificar Equipo (HOT)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "5. Generar Respuesta (Gemini)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Notificar Equipo (HOT)": {
      "main": [
        [
          {
            "node": "5. Generar Respuesta (Gemini)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. Generar Respuesta (Gemini)": {
      "main": [
        [
          {
            "node": "6. Enviar Respuesta Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6. Enviar Respuesta Lead": {
      "main": [
        [
          {
            "node": "FINAL. Resultado del Sub-Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
