docs/n8n-workflows/mega-workflow-1/spokes/sub-a-lead-intake/SUB-A_PRODUCTION_2025-12-21.json
{
  "id": "RHj1TAqBazxNFriJ",
  "name": "SUB-A: Lead Intake (v5 - AI POWERED - NATIVE)",
  "active": false,
  "createdAt": "2025-12-17T02:08:37.818Z",
  "updatedAt": "2025-12-21T21:51:45.076Z",
  "versionCounter": 43,
  "nodes": [
    {
      "id": "5f4ec9be-0921-4db3-a81c-c06de46aa35f",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [160, 480],
      "parameters": {
        "inputSource": "passthrough"
      }
    },
    {
      "id": "c6821dac-8c27-4b06-bafb-61fbbb28100e",
      "name": "0. Mapear Input del Orquestador1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [336, 480],
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "nombre", "name": "nombre", "type": "string", "value": "={{ $json.nombre ? $json.nombre : ($json.body ? $json.body.nombre : '') }}"},
            {"id": "email", "name": "email", "type": "string", "value": "={{ $json.email ? $json.email : ($json.body ? $json.body.email : '') }}"},
            {"id": "telefono", "name": "telefono", "type": "string", "value": "={{ $json.telefono ? $json.telefono : ($json.body ? $json.body.telefono : '') }}"},
            {"id": "empresa", "name": "empresa", "type": "string", "value": "={{ $json.empresa ? $json.empresa : ($json.body ? $json.body.empresa : '') }}"},
            {"id": "cargo", "name": "cargo", "type": "string", "value": "={{ $json.cargo ? $json.cargo : ($json.body ? $json.body.cargo : '') }}"},
            {"id": "servicio_interes", "name": "servicio_interes", "type": "string", "value": "={{ $json.servicio_interes ? $json.servicio_interes : ($json.body ? $json.body.servicio_interes : '') }}"},
            {"id": "mensaje", "name": "mensaje", "type": "string", "value": "={{ $json.mensaje ? $json.mensaje : ($json.body ? $json.body.mensaje : '') }}"},
            {"id": "utm_source", "name": "utm_source", "type": "string", "value": "={{ $json.utm_source ? $json.utm_source : ($json.body ? $json.body.utm_source : '') }}"},
            {"id": "utm_campaign", "name": "utm_campaign", "type": "string", "value": "={{ $json.utm_campaign ? $json.utm_campaign : ($json.body ? $json.body.utm_campaign : '') }}"}
          ]
        },
        "options": {}
      }
    },
    {
      "id": "c01faa58-79fc-4f31-877f-134cc1fa1672",
      "name": "0.5. Analizar Lead (IA)",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [512, 480],
      "credentials": {
        "googlePalmApi": {"id": "jk2FHcbAC71LuRl2", "name": "Google Gemini(PaLM) Api account"}
      },
      "parameters": {
        "modelId": {"__rl": true, "value": "models/gemini-2.5-pro", "mode": "list"},
        "messages": {
          "values": [{
            "content": "={{ \"Analiza este lead entrante para un bufete de abogados (Carrillo Abogados - PI y Marcas).\\n\\nDatos del Lead:\\n- Nombre: \" + $(\"0. Mapear Input del Orquestador1\").item.json.nombre + \"\\n- Empresa: \" + $(\"0. Mapear Input del Orquestador1\").item.json.empresa + \"\\n- Cargo: \" + $(\"0. Mapear Input del Orquestador1\").item.json.cargo + \"\\n- Interés declarado: \" + $(\"0. Mapear Input del Orquestador1\").item.json.servicio_interes + \"\\n- Mensaje: \" + $(\"0. Mapear Input del Orquestador1\").item.json.mensaje + \"\\n\\nTareas:\\n1. Normaliza el servicio de interés a una de estas categorías: [Marcas, Patentes, Litigio, Contratos, Corporativo, Otros].\\n2. Detecta si es SPAM (true/false).\\n3. Calcula un Score (0-100) basado en la calidad de la empresa, cargo y claridad de la necesidad.\\n4. Determina la categoría (HOT si score >= 70, WARM si >= 40, COLD si < 40).\\n\\nResponde ÚNICAMENTE con un JSON válido con esta estructura:\\n{\\n  \\\"normalized_interest\\\": \\\"...\\\",\\n  \\\"is_spam\\\": false,\\n  \\\"analysis_reason\\\": \\\"...\\\",\\n  \\\"calculated_score\\\": 85,\\n  \\\"category\\\": \\\"HOT\\\"\\n}\" }}"
          }]
        },
        "options": {}
      }
    },
    {
      "id": "e627be60-cd86-40ba-8763-beac05bde7c2",
      "name": "1. Validar y Clasificar1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [784, 480],
      "parameters": {
        "jsCode": "const lead = $(\"0. Mapear Input del Orquestador1\").item.json;\nconst geminiResponse = $(\"0.5. Analizar Lead (IA)\").item.json;\n\nlet analysisText = '';\nif (geminiResponse.content && geminiResponse.content.parts && geminiResponse.content.parts[0]) {\n    analysisText = geminiResponse.content.parts[0].text || '';\n} else if (typeof geminiResponse.content === 'string') {\n    analysisText = geminiResponse.content;\n} else if (geminiResponse.text) {\n    analysisText = geminiResponse.text;\n}\n\nlet analysis = {};\ntry {\n    const cleanedText = analysisText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n    const jsonMatch = cleanedText.match(/\\{[\\s\\S]*\\}/);\n    const jsonStr = jsonMatch ? jsonMatch[0] : cleanedText;\n    analysis = JSON.parse(jsonStr);\n} catch (e) {\n    analysis = {\n        normalized_interest: \"Otros\",\n        is_spam: false,\n        calculated_score: 30,\n        category: \"COLD\",\n        parse_error: e.message\n    };\n}\n\nreturn {\n  json: {\n    ...lead,\n    email_normalized: (lead.email || \"\").toLowerCase().trim(),\n    score: analysis.calculated_score || 30,\n    categoria: analysis.category || \"COLD\",\n    ai_analysis: analysis,\n    lead_id: new Date().toISOString() + \"-\" + (lead.email || \"no-email\").replace(/@/g, \"-at-\"),\n    processed_at: new Date().toISOString()\n  }\n};"
      }
    },
    {
      "id": "5d6463dc-d890-4a48-bbe0-c1067f520993",
      "name": "2. Guardar en Firestore1",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [992, 480],
      "credentials": {
        "googleApi": {"id": "AAhdRNGzvsFnYN9O", "name": "tuto yt"}
      },
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "create",
        "projectId": "carrillo-marketing-core",
        "database": "leads",
        "collection": "leads",
        "columns": "lead_id, nombre, email, empresa, score, categoria, processed_at"
      }
    },
    {
      "id": "fd7ec1ef-d15c-491b-9e09-9a294a74c19e",
      "name": "3. Es Lead HOT? (If)1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1216, 480],
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [{
            "id": "condition1",
            "leftValue": "={{ $json.categoria }}",
            "operator": {"operation": "equals", "type": "string"},
            "rightValue": "HOT"
          }],
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"}
        },
        "options": {}
      }
    },
    {
      "id": "d1231451-6125-4166-80a7-a94aa17209a0",
      "name": "4. Notificar Equipo (HOT)1",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1424, 320],
      "credentials": {
        "gmailOAuth2": {"id": "l2mMgEf8YUV7HHlK", "name": "Gmail account"}
      },
      "parameters": {
        "operation": "send",
        "sendTo": "marketing@carrilloabgd.com",
        "subject": "={{ \"🔥 HOT LEAD: \" + $json.nombre }}",
        "message": "={{ \"🔥 NUEVO LEAD HOT\\n\\nNombre: \" + $json.nombre + \"\\nEmail: \" + $json.email + \"\\nEmpresa: \" + $json.empresa + \"\\nScore: \" + $json.score + \"\\nInterés: \" + $json.servicio_interes + \"\\nMensaje: \" + $json.mensaje }}",
        "options": {}
      }
    },
    {
      "id": "58f49514-f559-45f7-b141-52173ec0244b",
      "name": "5. Generar Respuesta (Gemini)",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [1632, 496],
      "credentials": {
        "googlePalmApi": {"id": "jk2FHcbAC71LuRl2", "name": "Google Gemini(PaLM) Api account"}
      },
      "parameters": {
        "modelId": {"__rl": true, "value": "models/gemini-2.5-pro", "mode": "list"},
        "messages": {
          "values": [{
            "content": "={{ \"Genera un email de respuesta personalizado para este lead:\\n\\nNombre: \" + $json.nombre + \"\\nEmpresa: \" + $json.empresa + \"\\nInterés: \" + $json.servicio_interes + \"\\nMensaje: \" + $json.mensaje + \"\\n\\nEl email debe:\\n1. Agradecer el contacto\\n2. Confirmar que hemos recibido su consulta\\n3. Mencionar que el Dr. Omar Carrillo se pondrá en contacto pronto\\n4. Ser profesional pero cálido\\n5. Firma: Equipo Carrillo Abogados\\n\\nResponde SOLO con el texto del email, sin subject.\" }}"
          }]
        },
        "options": {}
      }
    },
    {
      "id": "23df08e9-2164-4824-af6d-c21983b2f9a6",
      "name": "6. Enviar Respuesta Lead1",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1952, 496],
      "credentials": {
        "gmailOAuth2": {"id": "l2mMgEf8YUV7HHlK", "name": "Gmail account"}
      },
      "parameters": {
        "operation": "send",
        "sendTo": "={{ $('0. Mapear Input del Orquestador1').item.json.email }}",
        "subject": "=Gracias por contactar a Carrillo Abogados - {{ $('0. Mapear Input del Orquestador1').item.json.nombre }}",
        "message": "={{ $input.first().json.content && $input.first().json.content.parts ? $input.first().json.content.parts[0].text : 'Gracias por contactarnos. Pronto le responderemos.' }}",
        "options": {}
      }
    },
    {
      "id": "ebb83788-cfb3-482d-89a8-25a53aed014b",
      "name": "FINAL. Resultado del Sub-Workflow1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2144, 496],
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "success", "name": "success", "type": "boolean", "value": true},
            {"id": "message", "name": "message", "type": "string", "value": "Lead procesado exitosamente por SUB-A (AI Powered)"},
            {"id": "lead_id", "name": "lead_id", "type": "string", "value": "={{ $('1. Validar y Clasificar1').item.json.lead_id }}"},
            {"id": "score", "name": "score", "type": "number", "value": "={{ $('1. Validar y Clasificar1').item.json.score }}"},
            {"id": "categoria", "name": "categoria", "type": "string", "value": "={{ $('1. Validar y Clasificar1').item.json.categoria }}"},
            {"id": "email", "name": "email", "type": "string", "value": "={{ $('1. Validar y Clasificar1').item.json.email }}"},
            {"id": "nombre", "name": "nombre", "type": "string", "value": "={{ $('1. Validar y Clasificar1').item.json.nombre }}"},
            {"id": "empresa", "name": "empresa", "type": "string", "value": "={{ $('1. Validar y Clasificar1').item.json.empresa }}"},
            {"id": "ai_analysis", "name": "ai_analysis", "type": "object", "value": "={{ $('1. Validar y Clasificar1').item.json.ai_analysis }}"}
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {"main": [[{"node": "0. Mapear Input del Orquestador1", "type": "main", "index": 0}]]},
    "0. Mapear Input del Orquestador1": {"main": [[{"node": "0.5. Analizar Lead (IA)", "type": "main", "index": 0}]]},
    "0.5. Analizar Lead (IA)": {"main": [[{"node": "1. Validar y Clasificar1", "type": "main", "index": 0}]]},
    "1. Validar y Clasificar1": {"main": [[{"node": "2. Guardar en Firestore1", "type": "main", "index": 0}]]},
    "2. Guardar en Firestore1": {"main": [[{"node": "3. Es Lead HOT? (If)1", "type": "main", "index": 0}]]},
    "3. Es Lead HOT? (If)1": {"main": [[{"node": "4. Notificar Equipo (HOT)1", "type": "main", "index": 0}], [{"node": "5. Generar Respuesta (Gemini)", "type": "main", "index": 0}]]},
    "4. Notificar Equipo (HOT)1": {"main": [[{"node": "5. Generar Respuesta (Gemini)", "type": "main", "index": 0}]]},
    "5. Generar Respuesta (Gemini)": {"main": [[{"node": "6. Enviar Respuesta Lead1", "type": "main", "index": 0}]]},
    "6. Enviar Respuesta Lead1": {"main": [[{"node": "FINAL. Resultado del Sub-Workflow1", "type": "main", "index": 0}]]}
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}
