automation/workflows/MW1_LEAD_LIFECYCLE/02-spokes/sub-d-nurturing/SUB-D_WORKFLOW_v3.json
{
  "name": "SUB-D: Nurturing Sequence Engine v3",
  "id": "PZboUEnAxm5A7Lub",
  "active": false,
  "createdAt": "2026-01-07",
  "updatedAt": "2026-01-07",
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "timezone": "America/Bogota"
  },
  "nodes": [
    {
      "id": "schedule_trigger",
      "name": "Schedule Trigger: Every 6h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      }
    },
    {
      "id": "calcular_timestamp",
      "name": "Calcular Timestamp Actual",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "ts1",
              "name": "now",
              "type": "string",
              "value": "={{ new Date().toISOString() }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "query_firestore",
      "name": "Query Firestore: Leads para Nurturing",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [680, 300],
      "parameters": {
        "authentication": "serviceAccount",
        "projectId": "carrillo-marketing-core",
        "database": "leads",
        "operation": "getAll",
        "collection": "leads",
        "returnAll": false,
        "limit": 10
      },
      "credentials": {
        "googleApi": {
          "id": "AAhdRNGzvsFnYN9O",
          "name": "tuto yt"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "if_hay_leads",
      "name": "IF: Hay Leads?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [900, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "loop_batch",
      "name": "Loop: Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1120, 240],
      "parameters": {
        "batchSize": 1,
        "options": {
          "reset": false
        }
      }
    },
    {
      "id": "extraer_datos",
      "name": "Extraer Datos Lead",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1340, 240],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "lead_id",
              "type": "string",
              "value": "={{ $json._id || $json.lead_id }}"
            },
            {
              "id": "a2",
              "name": "nombre",
              "type": "string",
              "value": "={{ $json.nombre }}"
            },
            {
              "id": "a3",
              "name": "email",
              "type": "string",
              "value": "={{ $json.email }}"
            },
            {
              "id": "a4",
              "name": "empresa",
              "type": "string",
              "value": "={{ $json.empresa || 'su empresa' }}"
            },
            {
              "id": "a5",
              "name": "servicio",
              "type": "string",
              "value": "={{ $json.servicio || 'servicios legales' }}"
            },
            {
              "id": "a6",
              "name": "emails_sent",
              "type": "number",
              "value": "={{ parseInt($json.emails_sent || '0') }}"
            },
            {
              "id": "a7",
              "name": "created_at",
              "type": "string",
              "value": "={{ $json.created_at || new Date().toISOString() }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "calcular_posicion",
      "name": "Calcular Posicion en Secuencia",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 240],
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForEachItem",
        "jsCode": "const lead = $input.item.json;\nconst createdAt = new Date(lead.created_at);\nconst now = new Date();\nconst diffMs = now - createdAt;\nconst daysSinceCapture = Math.floor(diffMs / (1000 * 60 * 60 * 24));\n\nconst emailSchedule = [\n  { position: 1, minDay: 0, maxDay: 2 },\n  { position: 2, minDay: 3, maxDay: 5 },\n  { position: 3, minDay: 7, maxDay: 9 },\n  { position: 4, minDay: 10, maxDay: 13 },\n  { position: 5, minDay: 14, maxDay: 17 },\n  { position: 6, minDay: 21, maxDay: 24 },\n  { position: 7, minDay: 28, maxDay: 31 },\n  { position: 8, minDay: 35, maxDay: 38 },\n  { position: 9, minDay: 42, maxDay: 45 },\n  { position: 10, minDay: 49, maxDay: 52 },\n  { position: 11, minDay: 56, maxDay: 59 },\n  { position: 12, minDay: 90, maxDay: 999 }\n];\n\nlet position = null;\nfor (const schedule of emailSchedule) {\n  if (daysSinceCapture >= schedule.minDay && daysSinceCapture <= schedule.maxDay) {\n    position = schedule.position;\n    break;\n  }\n}\n\nif (!position && daysSinceCapture >= 90 && lead.emails_sent < 12) {\n  position = 12;\n}\n\nconst shouldSend = position !== null && lead.emails_sent < position;\n\nconst nextEmailDelays = {\n  1: 3, 2: 4, 3: 3, 4: 4, 5: 7, 6: 7,\n  7: 7, 8: 7, 9: 7, 10: 7, 11: 34, 12: null\n};\n\nconst delay = nextEmailDelays[position];\nconst nextEmailDate = delay\n  ? new Date(Date.now() + delay * 24 * 60 * 60 * 1000).toISOString()\n  : null;\n\nreturn {\n  json: {\n    ...lead,\n    position: position || lead.emails_sent + 1,\n    days_since_capture: daysSinceCapture,\n    should_send: shouldSend,\n    next_email_date: nextEmailDate\n  }\n};"
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "cargar_template",
      "name": "Cargar Template Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 240],
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForEachItem",
        "jsCode": "const position = $json.position;\nconst nombre = $json.nombre;\nconst empresa = $json.empresa;\n\nconst templates = {\n  1: {\n    subject: `Gracias por contactarnos, ${nombre}`,\n    objective: \"Bienvenida\",\n    structure: \"Saludo personalizado + Presentacion firma (15 anos SIC) + Valor que ofrecemos + CTA: Agendar llamada exploratoria\",\n    max_words: 200\n  },\n  2: {\n    subject: `Por que proteger tu marca ${empresa}?`,\n    objective: \"Educativo\",\n    structure: \"Riesgos de no registrar marca + Casos reales de perdida de marca + Beneficios del registro + CTA: Descargar checklist gratuito\",\n    max_words: 250\n  },\n  3: {\n    subject: `Como ayudamos a empresas como ${empresa}`,\n    objective: \"Case Study\",\n    structure: \"Historia de cliente similar (tech/startup) + Problema que tenian + Solucion Carrillo + Resultado cuantificable + CTA: Ver mas casos de exito\",\n    max_words: 300\n  },\n  4: {\n    subject: \"Checklist gratuito: Registro de marcas en Colombia\",\n    objective: \"Recurso de valor\",\n    structure: \"Introduccion del checklist + 5 pasos principales + Link descarga + CTA: Necesitas ayuda con algun paso?\",\n    max_words: 200\n  },\n  5: {\n    subject: `3 riesgos que enfrenta ${empresa} sin registro`,\n    objective: \"Urgencia\",\n    structure: \"Riesgo 1: Demandas + Riesgo 2: Perdida de mercado + Riesgo 3: Inversion perdida en branding + CTA: Protege tu marca ahora\",\n    max_words: 250\n  },\n  6: {\n    subject: \"Dr. Carrillo en la SIC: 15 anos de experiencia\",\n    objective: \"Autoridad\",\n    structure: \"Trayectoria Dr. Omar Carrillo + Experiencia en SIC + Casos ganados + Testimoniales + CTA: Agenda una consulta\",\n    max_words: 300\n  },\n  7: {\n    subject: `Consulta inicial GRATIS esta semana, ${nombre}`,\n    objective: \"Oferta\",\n    structure: \"Oferta exclusiva: 30 min consulta gratuita + Que cubrimos + Valor de la consulta + CTA: Agendar ahora\",\n    max_words: 200\n  },\n  8: {\n    subject: \"Sigues interesado en proteger tu marca?\",\n    objective: \"Re-engagement\",\n    structure: \"Recordar contacto inicial + Entender si sigue siendo prioridad + Ofrecer ayuda especifica + CTA: Responder este email\",\n    max_words: 150\n  },\n  9: {\n    subject: \"Propiedad Intelectual en 2026: Lo que debes saber\",\n    objective: \"Tendencias\",\n    structure: \"Cambios legislativos 2026 + Nuevas oportunidades PI + Riesgos emergentes + CTA: Mantente protegido\",\n    max_words: 300\n  },\n  10: {\n    subject: `Ultima oportunidad: Consulta gratuita para ${empresa}`,\n    objective: \"Last Chance\",\n    structure: \"Ultima oportunidad de agendar gratis + Recordar beneficios + Fecha limite + CTA urgente: Agendar hoy\",\n    max_words: 200\n  },\n  11: {\n    subject: \"Nos despedimos? (Por ahora)\",\n    objective: \"Break-up\",\n    structure: \"Reconocer que no ha habido respuesta + Respetar decision + Dejar puerta abierta + CTA: Si cambias de opinion, estamos aqui\",\n    max_words: 150\n  },\n  12: {\n    subject: `Han pasado 3 meses, ${nombre}... hablamos?`,\n    objective: \"Win-back\",\n    structure: \"Recordar contacto + Nueva oferta o recurso + Entender si situacion cambio + CTA: Reconectar\",\n    max_words: 200\n  }\n};\n\nreturn {\n  json: {\n    ...($json),\n    template: templates[position] || templates[1]\n  }\n};"
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "gemini_personalizar",
      "name": "Personalizar Email con Gemini",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [2000, 240],
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "={{ 'Eres un copywriter experto en email marketing legal para Carrillo Abogados, un bufete especializado en Propiedad Intelectual en Colombia.\\n\\nGenera un email de nurturing para el siguiente lead:\\n\\n**Datos del Lead:**\\n- Nombre: ' + $json.nombre + '\\n- Empresa: ' + $json.empresa + '\\n- Servicio de interes: ' + $json.servicio + '\\n- Posicion en secuencia: ' + $json.position + ' de 12\\n- Dias desde captura: ' + $json.days_since_capture + '\\n\\n**Template a seguir:**\\n- Subject: ' + $json.template.subject + '\\n- Objetivo: ' + $json.template.objective + '\\n- Estructura: ' + $json.template.structure + '\\n- Maximo palabras: ' + $json.template.max_words + '\\n\\n**Instrucciones:**\\n1. Personaliza el email usando el nombre y empresa del lead\\n2. Manten un tono profesional pero cercano\\n3. Incluye un CTA claro y accionable\\n4. NO uses emojis\\n5. Firma: Dr. Omar Carrillo - Carrillo Abogados - Tel: +57 2 XXX XXXX\\n\\nResponde UNICAMENTE con JSON valido (sin markdown):\\n{\\n  \"subject\": \"...\",\\n  \"body\": \"...\"\\n}' }}",
              "role": "user"
            }
          ]
        },
        "simplify": true,
        "jsonOutput": true,
        "options": {
          "maxOutputTokens": 500,
          "temperature": 0.7
        }
      },
      "credentials": {
        "googlePalmApi": {
          "id": "jk2FHcbAC71LuRl2",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "id": "validar_gemini",
      "name": "Validar Output Gemini",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2220, 240],
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $input.item.json;\nconst previousData = $('Cargar Template Email').item.json;\n\nlet geminiOutput;\ntry {\n  // Con el nodo nativo y jsonOutput=true, la respuesta viene parseada\n  if (input.subject && input.body) {\n    geminiOutput = input;\n  } else if (input.text) {\n    // Si viene como texto, parsear\n    geminiOutput = JSON.parse(input.text);\n  } else {\n    throw new Error('Formato de respuesta no reconocido');\n  }\n} catch (e) {\n  geminiOutput = {\n    subject: previousData.template?.subject || 'Gracias por contactar a Carrillo Abogados',\n    body: `Estimado/a ${previousData.nombre},\\n\\nGracias por su interes en nuestros servicios legales.\\n\\nEn Carrillo Abogados contamos con mas de 15 anos de experiencia en Propiedad Intelectual.\\n\\nQuedamos a su disposicion.\\n\\nAtentamente,\\nDr. Omar Carrillo\\nCarrillo Abogados\\nTel: +57 2 XXX XXXX`\n  };\n}\n\nif (!geminiOutput.subject || geminiOutput.subject.trim() === '') {\n  geminiOutput.subject = previousData.template?.subject || 'Mensaje de Carrillo Abogados';\n}\n\nif (!geminiOutput.body || geminiOutput.body.trim() === '') {\n  geminiOutput.body = `Estimado/a ${previousData.nombre},\\n\\nGracias por su interes en nuestros servicios.\\n\\nAtentamente,\\nDr. Omar Carrillo\\nCarrillo Abogados`;\n}\n\nreturn {\n  json: {\n    lead_id: previousData.lead_id,\n    nombre: previousData.nombre,\n    email: previousData.email,\n    empresa: previousData.empresa,\n    servicio: previousData.servicio,\n    position: previousData.position,\n    emails_sent: previousData.emails_sent,\n    days_since_capture: previousData.days_since_capture,\n    next_email_date: previousData.next_email_date,\n    subject: geminiOutput.subject,\n    body: geminiOutput.body,\n    generated_by: 'gemini-native',\n    generated_at: new Date().toISOString()\n  }\n};"
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "enviar_mailersend",
      "name": "Enviar Email con Mailersend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2440, 240],
      "parameters": {
        "method": "POST",
        "url": "https://api.mailersend.com/v1/email",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": {\n    \"email\": \"marketing@carrilloabgd.com\",\n    \"name\": \"Dr. Omar Carrillo - Carrillo Abogados\"\n  },\n  \"to\": [\n    {\n      \"email\": \"{{ $json.email }}\",\n      \"name\": \"{{ $json.nombre }}\"\n    }\n  ],\n  \"subject\": \"{{ $json.subject }}\",\n  \"html\": \"{{ $json.body.replace(/\\n/g, '<br>') }}\",\n  \"tags\": [\"nurturing\", \"position-{{ $json.position }}\", \"mw1-sub-d\"],\n  \"settings\": {\n    \"track_clicks\": true,\n    \"track_opens\": true\n  }\n}",
        "options": {
          "timeout": 30000
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "id": "if_envio_exitoso",
      "name": "IF: Envio Exitoso?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2660, 240],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond2",
              "leftValue": "={{ $json.statusCode || 200 }}",
              "rightValue": 299,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "actualizar_firestore",
      "name": "Actualizar Firestore",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [2880, 180],
      "parameters": {
        "authentication": "serviceAccount",
        "projectId": "carrillo-marketing-core",
        "database": "leads",
        "operation": "update",
        "collection": "leads",
        "documentId": "={{ $('Validar Output Gemini').item.json.lead_id }}",
        "columns": "emails_sent, last_contact, status, nurturing_position, next_email_date, updated_at"
      },
      "credentials": {
        "googleApi": {
          "id": "AAhdRNGzvsFnYN9O",
          "name": "tuto yt"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "callback_backend",
      "name": "Callback: Nurturing Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3100, 180],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL || 'http://localhost:8800' }}/webhook/nurturing-sent",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"lead_id\": \"{{ $('Validar Output Gemini').item.json.lead_id }}\",\n  \"position\": {{ $('Validar Output Gemini').item.json.position }},\n  \"sent_at\": \"{{ new Date().toISOString() }}\",\n  \"status\": \"sent\"\n}",
        "options": {
          "timeout": 5000
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "consolidar_resultados",
      "name": "Consolidar Resultados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [3320, 300],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "r1",
              "name": "workflow",
              "type": "string",
              "value": "SUB-D: Nurturing Sequence Engine v3"
            },
            {
              "id": "r2",
              "name": "execution_time",
              "type": "string",
              "value": "={{ new Date().toISOString() }}"
            },
            {
              "id": "r3",
              "name": "success",
              "type": "boolean",
              "value": true
            },
            {
              "id": "r4",
              "name": "message",
              "type": "string",
              "value": "Nurturing sequence completed with native nodes"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "exit_workflow",
      "name": "Exit Workflow",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [3540, 300],
      "parameters": {}
    }
  ],
  "connections": {
    "Schedule Trigger: Every 6h": {
      "main": [[{"node": "Calcular Timestamp Actual", "type": "main", "index": 0}]]
    },
    "Calcular Timestamp Actual": {
      "main": [[{"node": "Query Firestore: Leads para Nurturing", "type": "main", "index": 0}]]
    },
    "Query Firestore: Leads para Nurturing": {
      "main": [[{"node": "IF: Hay Leads?", "type": "main", "index": 0}]]
    },
    "IF: Hay Leads?": {
      "main": [
        [{"node": "Loop: Split In Batches", "type": "main", "index": 0}],
        [{"node": "Exit Workflow", "type": "main", "index": 0}]
      ]
    },
    "Loop: Split In Batches": {
      "main": [
        [{"node": "Extraer Datos Lead", "type": "main", "index": 0}],
        [{"node": "Consolidar Resultados", "type": "main", "index": 0}]
      ]
    },
    "Extraer Datos Lead": {
      "main": [[{"node": "Calcular Posicion en Secuencia", "type": "main", "index": 0}]]
    },
    "Calcular Posicion en Secuencia": {
      "main": [[{"node": "Cargar Template Email", "type": "main", "index": 0}]]
    },
    "Cargar Template Email": {
      "main": [[{"node": "Personalizar Email con Gemini", "type": "main", "index": 0}]]
    },
    "Personalizar Email con Gemini": {
      "main": [[{"node": "Validar Output Gemini", "type": "main", "index": 0}]]
    },
    "Validar Output Gemini": {
      "main": [[{"node": "Enviar Email con Mailersend", "type": "main", "index": 0}]]
    },
    "Enviar Email con Mailersend": {
      "main": [[{"node": "IF: Envio Exitoso?", "type": "main", "index": 0}]]
    },
    "IF: Envio Exitoso?": {
      "main": [
        [{"node": "Actualizar Firestore", "type": "main", "index": 0}],
        [{"node": "Loop: Split In Batches", "type": "main", "index": 0}]
      ]
    },
    "Actualizar Firestore": {
      "main": [[{"node": "Callback: Nurturing Sent", "type": "main", "index": 0}]]
    },
    "Callback: Nurturing Sent": {
      "main": [[{"node": "Loop: Split In Batches", "type": "main", "index": 0}]]
    },
    "Consolidar Resultados": {
      "main": [[{"node": "Exit Workflow", "type": "main", "index": 0}]]
    }
  },
  "tags": ["MEGA-WORKFLOW-1", "NURTURING", "NATIVE-NODES", "v3"],
  "meta": {
    "templateId": "custom",
    "templateCreatedBy": "@engineer",
    "createdAt": "2026-01-07",
    "version": "3.0",
    "changes": [
      "Firestore: googleFirebaseCloudFirestore (nativo)",
      "Gemini: @n8n/n8n-nodes-langchain.googleGemini (nativo)",
      "MailerSend: HTTP Request (no hay nodo nativo)"
    ]
  }
}
