automation/workflows/MW1_LEAD_LIFECYCLE/01-orchestrator/ORQUESTADOR_V3.json
{
  "meta": {
    "instanceId": "carrilloabgd.app.n8n.cloud",
    "templateCredsSetupCompleted": true
  },
  "workflow": {
    "id": "68DDbpQzOEIweiBF",
    "name": "Orquestador v3.0 (AI Agent - Gemini)",
    "active": false,
    "createdAt": "2026-01-07",
    "updatedAt": "2026-01-07",
    "nodes": [
      {
        "id": "webhook_principal",
        "name": "Webhook Principal",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [250, 300],
        "webhookId": "lead-events-v3",
        "parameters": {
          "httpMethod": "POST",
          "path": "lead-events-v3",
          "responseMode": "responseNode",
          "options": {}
        }
      },
      {
        "id": "ai_agent_orchestrator",
        "name": "AI Agent Orchestrator",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.7,
        "position": [520, 300],
        "parameters": {
          "promptType": "define",
          "text": "={{ JSON.stringify($json) }}",
          "hasOutputParser": false,
          "options": {
            "systemMessage": "# Rol\nEres el **Lead Lifecycle Orchestrator** de Carrillo Abogados, un bufete legal especializado en Propiedad Intelectual en Colombia.\n\n# Tu Unica Funcion\nIdentificar el tipo de evento entrante y ejecutar el sub-workflow correspondiente.\n\n# Contexto de Negocio\n- Procesamos 300+ leads/mes\n- Tiempo de respuesta critico: < 1 minuto\n- Categorias de leads: HOT (>=70 score), WARM (40-69), COLD (<40)\n\n# Herramientas Disponibles\n\n## SUB-A: Lead Intake\n**Descripcion**: Procesa nuevo lead desde formulario web. Realiza validacion, scoring con IA (Gemini), guardado en Firestore, notificacion a equipo si es HOT (score>=70), y respuesta automatica personalizada al lead. Usar cuando event_type es 'new_lead'.\n**Cuando usar**: Si el payload contiene `event_type: \"new_lead\"` o menciona \"formulario\", \"contacto\", \"nuevo lead\".\n\n## SUB-D: Nurturing Engine (NO DISPONIBLE AUN)\n**Descripcion**: Procesa batch de leads para enviar secuencia de nurturing (8-12 emails automatizados).\n**Cuando usar**: Si el payload contiene `event_type: \"nurturing_manual_trigger\"`. NOTA: Esta herramienta aun no esta implementada. Responde con error si se solicita.\n\n## SUB-E: Engagement Tracker (NO DISPONIBLE AUN)\n**Descripcion**: Actualiza metricas de engagement (opens/clicks) y recalcula score del lead.\n**Cuando usar**: Si el payload contiene `event_type: \"email_opened\"` o `\"email_clicked\"`. NOTA: Esta herramienta aun no esta implementada. Responde con error si se solicita.\n\n## SUB-F: Meeting Scheduler (NO DISPONIBLE AUN)\n**Descripcion**: Sincroniza reunion agendada en Google Calendar y notifica al equipo.\n**Cuando usar**: Si el payload contiene `event_type: \"meeting_booked\"`. NOTA: Esta herramienta aun no esta implementada. Responde con error si se solicita.\n\n# Reglas de Decision\n\n1. SIEMPRE analiza el campo `event_type` primero\n2. Si `event_type` es ambiguo, analiza el contenido completo del payload\n3. Si NO estas seguro o el tool no esta disponible, responde con error claro (no adivines)\n4. NUNCA ejecutes multiples tools para un solo evento\n5. Ejecuta exactamente 1 tool y retorna resultado\n6. Si event_type no es 'new_lead', responde indicando que ese tipo de evento aun no esta soportado\n\n# Output Esperado\n\nDespues de ejecutar el tool, SIEMPRE incluye en tu respuesta JSON:\n```json\n{\n  \"tool_used\": \"SUB-A | SUB-D | SUB-E | SUB-F | NONE\",\n  \"decision_reason\": \"1 frase explicando por que elegiste ese tool\",\n  \"execution_status\": \"success | error | not_supported\",\n  \"result\": { ... datos del sub-workflow ... }\n}\n```\n\n# Ejemplo de Input\n```json\n{\n  \"event_type\": \"new_lead\",\n  \"nombre\": \"Maria Garcia\",\n  \"email\": \"maria@techcorp.co\",\n  \"empresa\": \"Tech Corp\",\n  \"servicio_interes\": \"Registro de Marca\",\n  \"mensaje\": \"Necesito proteger mi marca urgentemente\"\n}\n```\n\n# Tu accion:\n1. Identificas: event_type = \"new_lead\"\n2. Ejecutas: SUB-A (Lead Intake)\n3. Retornas el JSON con tool_used, decision_reason, execution_status y result",
            "maxIterations": 3,
            "returnIntermediateSteps": true
          }
        },
        "onError": "continueRegularOutput",
        "retryOnFail": true,
        "maxTries": 2,
        "waitBetweenTries": 3000
      },
      {
        "id": "gemini_model",
        "name": "Google Gemini 2.5 Pro",
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [520, 520],
        "parameters": {
          "modelName": "models/gemini-2.5-pro",
          "options": {
            "temperature": 0.3,
            "maxOutputTokens": 1024
          }
        },
        "credentials": {
          "googlePalmApi": {
            "id": "jk2FHcbAC71LuRl2",
            "name": "Google Gemini (Carrillo)"
          }
        }
      },
      {
        "id": "tool_sub_a",
        "name": "Tool: SUB-A Lead Intake",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2,
        "position": [720, 520],
        "parameters": {
          "description": "Procesa nuevo lead desde formulario web. Realiza validacion de datos, scoring con IA (Gemini 2.5 Pro), guardado en Firestore, notificacion inmediata al equipo si es lead HOT (score>=70), y envio de respuesta automatica personalizada al lead via Gmail. Usar SIEMPRE cuando event_type es 'new_lead' o cuando el payload contiene datos de un formulario de contacto.",
          "source": "database",
          "workflowId": "RHj1TAqBazxNFriJ",
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {}
          }
        }
      },
      {
        "id": "memory_buffer",
        "name": "Simple Memory",
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [320, 520],
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "orchestrator_v3_memory",
          "contextWindowLength": 5
        }
      },
      {
        "id": "respond_webhook",
        "name": "Respond to Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [790, 300],
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {
            "responseCode": 200
          }
        }
      },
      {
        "id": "logger_sheets",
        "name": "Logger: Google Sheets",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [1060, 300],
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "mode": "list",
            "value": ""
          },
          "sheetName": {
            "__rl": true,
            "mode": "list",
            "value": ""
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "timestamp": "={{ new Date().toISOString() }}",
              "event_type": "={{ $('Webhook Principal').item.json.event_type || 'unknown' }}",
              "tool_used": "={{ $json.tool_used || $json.output?.tool_used || 'none' }}",
              "decision_reason": "={{ $json.decision_reason || $json.output?.decision_reason || '' }}",
              "execution_status": "={{ $json.execution_status || $json.output?.execution_status || 'unknown' }}",
              "latency_ms": "={{ Date.now() - new Date($('Webhook Principal').item.json._timestamp || Date.now()).getTime() }}",
              "error_message": "={{ $json.error?.message || '' }}"
            },
            "matchingColumns": []
          },
          "options": {}
        },
        "continueOnFail": true
      },
      {
        "id": "error_trigger",
        "name": "Error Trigger",
        "type": "n8n-nodes-base.errorTrigger",
        "typeVersion": 1,
        "position": [250, 520],
        "parameters": {}
      },
      {
        "id": "error_notification",
        "name": "Error Notification",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [520, 700],
        "parameters": {
          "sendTo": "ingenieria@carrilloabgd.com",
          "subject": "=ERROR Orquestador v3.0: {{ $json.execution?.error?.message || 'Error desconocido' }}",
          "message": "=Se produjo un error en el Orquestador v3.0 (AI Agent)\n\n**Workflow**: {{ $json.workflow?.name }}\n**Execution ID**: {{ $json.execution?.id }}\n**Timestamp**: {{ new Date().toISOString() }}\n\n**Error**:\n{{ JSON.stringify($json.execution?.error, null, 2) }}\n\n**Input Data**:\n{{ JSON.stringify($json.execution?.lastNodeExecuted, null, 2) }}\n\n---\nEste es un mensaje automatico del sistema de automatizacion n8n.",
          "options": {}
        },
        "credentials": {
          "gmailOAuth2": {
            "id": "vr0xHa1bIOD0lWqe",
            "name": "Gmail Carrillo"
          }
        },
        "continueOnFail": true
      }
    ],
    "connections": {
      "Webhook Principal": {
        "main": [
          [
            {
              "node": "AI Agent Orchestrator",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent Orchestrator": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini 2.5 Pro": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent Orchestrator",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Tool: SUB-A Lead Intake": {
        "ai_tool": [
          [
            {
              "node": "AI Agent Orchestrator",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent Orchestrator",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Respond to Webhook": {
        "main": [
          [
            {
              "node": "Logger: Google Sheets",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Error Trigger": {
        "main": [
          [
            {
              "node": "Error Notification",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "saveExecutionProgress": true,
      "saveDataErrorExecution": "all",
      "saveDataSuccessExecution": "all",
      "timezone": "America/Bogota"
    }
  },
  "notes": {
    "arquitectura": "AI Agent (Nivel 4) - Metodologia Nate Herk",
    "llm": "Google Gemini 2.5 Pro",
    "tools_conectados": ["SUB-A: Lead Intake (RHj1TAqBazxNFriJ)"],
    "tools_pendientes": ["SUB-D: Nurturing Engine", "SUB-E: Engagement Tracker", "SUB-F: Meeting Scheduler"],
    "webhook_url": "https://carrilloabgd.app.n8n.cloud/webhook/lead-events-v3",
    "credenciales_requeridas": {
      "googlePalmApi": "jk2FHcbAC71LuRl2 (Google Gemini)",
      "gmailOAuth2": "vr0xHa1bIOD0lWqe (Gmail Carrillo)",
      "googleSheetsOAuth2": "PENDIENTE - Configurar en n8n UI"
    }
  }
}
