automation/workflows/MW1_LEAD_LIFECYCLE/02-spokes/sub-a-lead-intake/SUB-A_ Lead Intake (v5 - AI POWERED - NATIVE) (1).json
{
  "name": "SUB-A: Lead Intake (v5 - AI POWERED - NATIVE)",
  "nodes": [
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "cachedResultName": "models/gemini-2.5-pro",
          "mode": "list",
          "value": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "={{ \"Analiza este lead entrante para un bufete de abogados (Carrillo Abogados - PI y Marcas).\\n\\nDatos del Lead:\\n- Nombre: \" + $(\"0. Mapear Input del Orquestador1\").item.json.nombre + \"\\n- Empresa: \" + $(\"0. Mapear Input del Orquestador1\").item.json.empresa + \"\\n- Cargo: \" + $(\"0. Mapear Input del Orquestador1\").item.json.cargo + \"\\n- Interes declarado: \" + $(\"0. Mapear Input del Orquestador1\").item.json.servicio_interes + \"\\n- Mensaje: \" + $(\"0. Mapear Input del Orquestador1\").item.json.mensaje + \"\\n\\nTareas:\\n1. Normaliza el servicio de interes a una de estas categorias: [Marcas, Patentes, Litigio, Contratos, Corporativo, Otros].\\n2. Detecta si es SPAM (true/false).\\n3. Calcula un Score (0-100) basado en la calidad de la empresa, cargo y claridad de la necesidad.\\n4. Determina la categoria (HOT si score >= 70, WARM si >= 40, COLD si < 40).\\n\\nResponde UNICAMENTE con un JSON valido con esta estructura:\\n{\\n  \\\"normalized_interest\\\": \\\"...\\\",\\n  \\\"is_spam\\\": false,\\n  \\\"analysis_reason\\\": \\\"...\\\",\\n  \\\"calculated_score\\\": 85,\\n  \\\"category\\\": \\\"HOT\\\"\\n}\" }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c01faa58-79fc-4f31-877f-134cc1fa1672",
      "name": "0.5. Analizar Lead (IA)",
      "position": [
        512,
        480
      ],
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "7mPlpd3eLy4qngdl",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "cachedResultName": "models/gemini-2.5-pro",
          "mode": "list",
          "value": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "={{ \"Genera un email de respuesta personalizado para este lead:\\n\\nNombre: \" + $json.nombre + \"\\nEmpresa: \" + $json.empresa + \"\\nInteres: \" + $json.servicio_interes + \"\\nMensaje: \" + $json.mensaje + \"\\n\\nEl email debe:\\n1. Agradecer el contacto\\n2. Confirmar que hemos recibido su consulta\\n3. Mencionar que el Dr. Omar Carrillo se pondra en contacto pronto\\n4. Ser profesional pero calido\\n5. Firma: Equipo Carrillo Abogados\\n\\nResponde SOLO con el texto del email, sin subject.\" }}"
            }
          ]
        },
        "options": {}
      },
      "id": "58f49514-f559-45f7-b141-52173ec0244b",
      "name": "5. Generar Respuesta (Gemini)",
      "position": [
        1632,
        496
      ],
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "7mPlpd3eLy4qngdl",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parsear input que puede venir de diferentes fuentes:\n// 1. AI Agent Tool: { input: '{\"nombre\":\"...\", ...}' } - JSON string\n// 2. Execute Workflow: { nombre: \"...\", email: \"...\" } - objeto directo\n// 3. Webhook direct: { body: { nombre: \"...\" } }\n\nconst raw = $input.first().json;\nlet data = {};\n\n// Caso 1: AI Agent Tool envia 'input' como JSON string\nif (raw.input && typeof raw.input === 'string') {\n  try {\n    data = JSON.parse(raw.input);\n    console.log('Parseado desde AI Agent Tool input string');\n  } catch(e) {\n    console.log('Error parseando input string:', e.message);\n    data = raw;\n  }\n}\n// Caso 2: input es un objeto (ya parseado)\nelse if (raw.input && typeof raw.input === 'object') {\n  data = raw.input;\n  console.log('Usando AI Agent Tool input object');\n}\n// Caso 3: Datos vienen en body (webhook directo)\nelse if (raw.body && typeof raw.body === 'object') {\n  data = raw.body;\n  console.log('Usando body de webhook');\n}\n// Caso 4: Datos vienen directamente en el json\nelse if (raw.nombre || raw.email) {\n  data = raw;\n  console.log('Usando datos directos');\n}\n// Caso 5: Fallback - buscar en cualquier campo que sea JSON string\nelse {\n  for (const key of Object.keys(raw)) {\n    if (typeof raw[key] === 'string' && raw[key].startsWith('{')) {\n      try {\n        data = JSON.parse(raw[key]);\n        console.log('Parseado desde campo:', key);\n        break;\n      } catch(e) {}\n    }\n  }\n  if (Object.keys(data).length === 0) {\n    data = raw;\n    console.log('Fallback: usando raw data');\n  }\n}\n\nreturn {\n  json: {\n    nombre: data.nombre || '',\n    email: data.email || '',\n    telefono: data.telefono || '',\n    empresa: data.empresa || '',\n    cargo: data.cargo || '',\n    servicio_interes: data.servicio_interes || data.servicio || '',\n    mensaje: data.mensaje || '',\n    utm_source: data.utm_source || '',\n    utm_campaign: data.utm_campaign || '',\n    event_type: data.event_type || 'new_lead',\n    _source: raw.input ? 'ai_agent_tool' : (raw.body ? 'webhook' : 'direct'),\n    _raw_keys: Object.keys(raw)\n  }\n};"
      },
      "id": "c6821dac-8c27-4b06-bafb-61fbbb28100e",
      "name": "0. Mapear Input del Orquestador1",
      "position": [
        336,
        480
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const lead = $(\"0. Mapear Input del Orquestador1\").item.json;\nconst geminiResponse = $(\"0.5. Analizar Lead (IA)\").item.json;\n\nlet analysisText = '';\nif (geminiResponse.content && geminiResponse.content.parts && geminiResponse.content.parts[0]) {\n    analysisText = geminiResponse.content.parts[0].text || '';\n} else if (typeof geminiResponse.content === 'string') {\n    analysisText = geminiResponse.content;\n} else if (geminiResponse.text) {\n    analysisText = geminiResponse.text;\n}\n\nlet analysis = {};\ntry {\n    const cleanedText = analysisText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n    const jsonMatch = cleanedText.match(/\\{[\\s\\S]*\\}/);\n    const jsonStr = jsonMatch ? jsonMatch[0] : cleanedText;\n    analysis = JSON.parse(jsonStr);\n} catch (e) {\n    analysis = {\n        normalized_interest: \"Otros\",\n        is_spam: false,\n        calculated_score: 30,\n        category: \"COLD\",\n        parse_error: e.message\n    };\n}\n\nreturn {\n  json: {\n    ...lead,\n    email_normalized: (lead.email || \"\").toLowerCase().trim(),\n    score: analysis.calculated_score || 30,\n    categoria: analysis.category || \"COLD\",\n    ai_analysis: analysis,\n    lead_id: new Date().toISOString() + \"-\" + (lead.email || \"no-email\").replace(/@/g, \"-at-\"),\n    processed_at: new Date().toISOString()\n  }\n};"
      },
      "id": "e627be60-cd86-40ba-8763-beac05bde7c2",
      "name": "1. Validar y Clasificar1",
      "position": [
        784,
        480
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "create",
        "projectId": "carrillo-marketing-core",
        "database": "leads",
        "collection": "leads",
        "columns": "lead_id, nombre, email, empresa, score, categoria, processed_at"
      },
      "id": "5d6463dc-d890-4a48-bbe0-c1067f520993",
      "name": "2. Guardar en Firestore1",
      "position": [
        992,
        480
      ],
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "credentials": {
        "googleApi": {
          "id": "AAhdRNGzvsFnYN9O",
          "name": "tuto yt"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "condition1",
              "leftValue": "={{ $json.categoria }}",
              "operator": {
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "HOT"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "id": "fd7ec1ef-d15c-491b-9e09-9a294a74c19e",
      "name": "3. Es Lead HOT? (If)1",
      "position": [
        1216,
        480
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    },
    {
      "parameters": {
        "sendTo": "marketing@carrilloabgd.com",
        "subject": "={{ \"HOT LEAD: \" + $json.nombre }}",
        "message": "={{ \"NUEVO LEAD HOT\\n\\nNombre: \" + $json.nombre + \"\\nEmail: \" + $json.email + \"\\nEmpresa: \" + $json.empresa + \"\\nScore: \" + $json.score + \"\\nInteres: \" + $json.servicio_interes + \"\\nMensaje: \" + $json.mensaje }}",
        "options": {}
      },
      "id": "d1231451-6125-4166-80a7-a94aa17209a0",
      "name": "4. Notificar Equipo (HOT)1",
      "position": [
        1424,
        320
      ],
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "webhookId": "2125e449-695c-4e68-bd52-f9de4991c2a2",
      "credentials": {
        "gmailOAuth2": {
          "id": "l2mMgEf8YUV7HHlK",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('0. Mapear Input del Orquestador1').item.json.email }}",
        "subject": "=Gracias por contactar a Carrillo Abogados - {{ $('0. Mapear Input del Orquestador1').item.json.nombre }}",
        "message": "={{ $input.first().json.content && $input.first().json.content.parts ? $input.first().json.content.parts[0].text : 'Gracias por contactarnos. Pronto le responderemos.' }}",
        "options": {}
      },
      "id": "23df08e9-2164-4824-af6d-c21983b2f9a6",
      "name": "6. Enviar Respuesta Lead1",
      "position": [
        1952,
        496
      ],
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "webhookId": "6ba4fd43-9d8f-41ed-856b-360d2c2fdfe7",
      "credentials": {
        "gmailOAuth2": {
          "id": "l2mMgEf8YUV7HHlK",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "type": "boolean",
              "value": true
            },
            {
              "id": "message",
              "name": "message",
              "type": "string",
              "value": "Lead procesado exitosamente por SUB-A (AI Powered)"
            },
            {
              "id": "lead_id",
              "name": "lead_id",
              "type": "string",
              "value": "={{ $('1. Validar y Clasificar1').item.json.lead_id }}"
            },
            {
              "id": "score",
              "name": "score",
              "type": "number",
              "value": "={{ $('1. Validar y Clasificar1').item.json.score }}"
            },
            {
              "id": "categoria",
              "name": "categoria",
              "type": "string",
              "value": "={{ $('1. Validar y Clasificar1').item.json.categoria }}"
            },
            {
              "id": "email",
              "name": "email",
              "type": "string",
              "value": "={{ $('1. Validar y Clasificar1').item.json.email }}"
            },
            {
              "id": "nombre",
              "name": "nombre",
              "type": "string",
              "value": "={{ $('1. Validar y Clasificar1').item.json.nombre }}"
            },
            {
              "id": "empresa",
              "name": "empresa",
              "type": "string",
              "value": "={{ $('1. Validar y Clasificar1').item.json.empresa }}"
            },
            {
              "id": "ai_analysis",
              "name": "ai_analysis",
              "type": "object",
              "value": "={{ $('1. Validar y Clasificar1').item.json.ai_analysis }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ebb83788-cfb3-482d-89a8-25a53aed014b",
      "name": "FINAL. Resultado del Sub-Workflow1",
      "position": [
        2144,
        496
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "5f4ec9be-0921-4db3-a81c-c06de46aa35f",
      "name": "When Executed by Another Workflow",
      "position": [
        160,
        480
      ],
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1
    },
    {
      "parameters": {},
      "id": "error-trigger-suba",
      "name": "Error Handler",
      "position": [
        112,
        704
      ],
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "workflow_name",
              "name": "workflow_name",
              "type": "string",
              "value": "={{ $workflow.name }}"
            },
            {
              "id": "execution_id",
              "name": "execution_id",
              "type": "string",
              "value": "={{ $execution.id }}"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "type": "string",
              "value": "={{ $now.toISO() }}"
            },
            {
              "id": "error_message",
              "name": "error_message",
              "type": "string",
              "value": "Error en SUB-A Lead Intake - revisar logs"
            }
          ]
        },
        "options": {}
      },
      "id": "set-error-suba",
      "name": "Preparar Error",
      "position": [
        352,
        704
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "sendTo": "ingenieria@carrilloabgd.com",
        "subject": "=[n8n ERROR] {{ $json.workflow_name }}",
        "message": "=<h2>Error en SUB-A</h2>\n<p><strong>Workflow:</strong> {{ $json.workflow_name }}</p>\n<p><strong>Execution ID:</strong> {{ $json.execution_id }}</p>\n<p><strong>Timestamp:</strong> {{ $json.timestamp }}</p>\n<p><strong>Error:</strong> {{ $json.error_message }}</p>",
        "options": {}
      },
      "id": "gmail-error-suba",
      "name": "Notificar Error",
      "position": [
        608,
        704
      ],
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "webhookId": "61815982-36bc-45d0-8c6f-2755b9c05b9f",
      "credentials": {
        "gmailOAuth2": {
          "id": "l2mMgEf8YUV7HHlK",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://eoc4ipe73sd9y75.m.pipedream.net",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ lead_id: $('1. Validar y Clasificar1').item.json.lead_id, score: $('1. Validar y Clasificar1').item.json.score, categoria: $('1. Validar y Clasificar1').item.json.categoria, ai_analysis: $('1. Validar y Clasificar1').item.json.ai_analysis, processed_at: $('1. Validar y Clasificar1').item.json.processed_at }) }}",
        "options": {}
      },
      "id": "callback_lead_scored",
      "name": "7. Callback Lead Scored",
      "position": [
        1424,
        128
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://eo25wqdjm5k5tqk.m.pipedream.net",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ lead_id: $('1. Validar y Clasificar1').item.json.lead_id, score: $('1. Validar y Clasificar1').item.json.score, categoria: $('1. Validar y Clasificar1').item.json.categoria, notified_at: new Date().toISOString(), email_sent_to: 'marketing@carrilloabgd.com' }) }}",
        "options": {}
      },
      "id": "callback_hot_lead",
      "name": "9. Callback Hot Lead Alert",
      "position": [
        1936,
        112
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "b3b05f3a-801e-4976-b0ba-c248c2b5c03f",
              "leftValue": "={{ $('1. Validar y Clasificar1').item.json.categoria }}",
              "operator": {
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "HOT"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          }
        },
        "options": {}
      },
      "id": "if_hot_check",
      "name": "8. Es Lead HOT (Callback)?",
      "position": [
        1680,
        128
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    }
  ],
  "pinData": {},
  "connections": {
    "0. Mapear Input del Orquestador1": {
      "main": [
        [
          {
            "index": 0,
            "node": "0.5. Analizar Lead (IA)",
            "type": "main"
          }
        ]
      ]
    },
    "0.5. Analizar Lead (IA)": {
      "main": [
        [
          {
            "index": 0,
            "node": "1. Validar y Clasificar1",
            "type": "main"
          }
        ]
      ]
    },
    "1. Validar y Clasificar1": {
      "main": [
        [
          {
            "index": 0,
            "node": "2. Guardar en Firestore1",
            "type": "main"
          },
          {
            "index": 0,
            "node": "7. Callback Lead Scored",
            "type": "main"
          }
        ]
      ]
    },
    "2. Guardar en Firestore1": {
      "main": [
        [
          {
            "index": 0,
            "node": "3. Es Lead HOT? (If)1",
            "type": "main"
          }
        ]
      ]
    },
    "3. Es Lead HOT? (If)1": {
      "main": [
        [
          {
            "index": 0,
            "node": "4. Notificar Equipo (HOT)1",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "5. Generar Respuesta (Gemini)",
            "type": "main"
          }
        ]
      ]
    },
    "4. Notificar Equipo (HOT)1": {
      "main": [
        [
          {
            "index": 0,
            "node": "5. Generar Respuesta (Gemini)",
            "type": "main"
          }
        ]
      ]
    },
    "5. Generar Respuesta (Gemini)": {
      "main": [
        [
          {
            "index": 0,
            "node": "6. Enviar Respuesta Lead1",
            "type": "main"
          }
        ]
      ]
    },
    "6. Enviar Respuesta Lead1": {
      "main": [
        [
          {
            "index": 0,
            "node": "FINAL. Resultado del Sub-Workflow1",
            "type": "main"
          }
        ]
      ]
    },
    "7. Callback Lead Scored": {
      "main": [
        [
          {
            "index": 0,
            "node": "8. Es Lead HOT (Callback)?",
            "type": "main"
          }
        ]
      ]
    },
    "8. Es Lead HOT (Callback)?": {
      "main": [
        [
          {
            "index": 0,
            "node": "9. Callback Hot Lead Alert",
            "type": "main"
          }
        ]
      ]
    },
    "Error Handler": {
      "main": [
        [
          {
            "index": 0,
            "node": "Preparar Error",
            "type": "main"
          }
        ]
      ]
    },
    "Preparar Error": {
      "main": [
        [
          {
            "index": 0,
            "node": "Notificar Error",
            "type": "main"
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "index": 0,
            "node": "0. Mapear Input del Orquestador1",
            "type": "main"
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "a2dcb614-678a-48f8-82d8-1c32b6ec37a9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3d3321fa006456b860ee93414ff8ce34a43571ec656f012cc11bbaa4bceafb5c"
  },
  "id": "RHj1TAqBazxNFriJ",
  "tags": []
}